
body {
	background: linear-gradient(to bottom, #a1a1a1 200px, #e6e6e6 200px);
	font-family: 'Roboto', sans-serif;
}

body p {
	padding: 0;
	margin: 0;
}

a {
	color: rgba(1, 0, 0, 0.574);
	font-weight: bold;
	text-decoration: underline;
	
}

