.borda-foto {
	background-color: rebeccapurple;
	border-radius: 50%;
	height: 8rem;
	width: 8rem;
	display: flex;
	margin: 0 auto;
	position: relative;
	top: -50px;
}

.div-inicial {
	height: 7rem;
	width: 7rem;
	margin: auto;

}

.div-inicial img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
